body{
	margin:0px;
	padding:0px;
}
.header {
	width:100%;
	height:100px;
	position:fixed;
	left:0px;
	top:0px;
	text-align:center;
	color:White;
	/*background-color:#ff6622;*/
	background-color:black;
}
.nav{
	position:fixed;
	left:0px;
	width:250px;
	height:100%;
	top:100px;
	background-color:#005577;
	color:white;
}
content,#flexcontainer{
	margin-left:250px;
	margin-top:150px;
}
.footer{
	position:fixed;
	width:100%;
	height:60px;
	bottom:0px;
	/*background-color:#827364;*/
	background-color:#888888;
}
li{
	font-size:25px;
}
li a{
	text-decoration:none;
	color:white;
	}

li a:hover{
	font-size:30px;
	text-decoration:underline;
	color:black;
	background-color:#ff6622;
}
li a:active{
	background-color: lightgreen;
}


.flex-container{
		margin:250px auto;
		max-width: 800px;
		padding:2px;
		border:2px solid red;
		display:flex;
		background-color:#f2f2f2;
	}
	.flex-item{
		width:100px;
		height:100px;
		margin:2px;
		line-height:100px;
		font-weight:bold;
		border: 2px solid ;
		text-align:center;
		background-color: #fa1244;
		color:white;
			
	}
	.controls{
		position:absolute;
		border:2px solid red;
		width:400px;
		line-height:150%;
		bottom:270px;
		right:30px;
		
	}
